apps_list=app1 app2
dev_images_list=package-proxy package-mysql
build_images_list=app1
slack_endpoint=https://hooks.slack.com/services/xxx
project=project
dir_repo=/opt/applications
dir_devops=/opt/devops/aws
dir_config=/opt/config
aws_account_targets=([prd]=1 [tst]=1 [dev]=1 [build]=1)
aws_ecr_region=eu-west-1
aws_ecs_clusters=([prd]="saas-master-EcsCluster-1" [tst]="saas-master-tst-EcsCluster-2")
aws_ecs_services=([x]="saas-master-tst-x")
hook_script_post_git_update=
hook_config_docker_build_volumes=
hook_config_docker_build_env_vars=